body
{
    background-color: paleturquoise;
}

a
{
    color: paleturquoise;
    text-decoration: none;
}

#credits
{
    color: white;
    text-decoration:underline;
}

.option
{
    color: paleturquoise;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav
{
    font: 100% sans-serif;
    text-align: center;
    background-color: white;
}

nav li {
    display: block;
}

.navbar .options-container 
{
    display: flex;
}

.navbar-l .options-container 
{
    display: flex;
    align-items:center;
}

.navbar .option 
{
    width: 100%;
}

.logo {
    background-image: url('./Img/3903482.jpg');
    background-size:cover;
    background-position: center;
    width: 800px;
    height: 50px;
}

.logo-l {
    background-image: url('./Img/3903482.jpg');
    background-size:cover;
    background-position: center;
    width: 300px;
    height: 100px;
    margin-right: 20%;
}

#button
{
    background-image: url('./Img/56763.png');
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.hide{
    display: none;
}

.navbar-l{
    display: none;
}


@media (min-width: 768px) {
    
    .navbar-2
    {
        display: none;
    }

}

@media (max-width: 768px) {

    .navbar
    {
        display: none;
    }
    
    .navbar-l
    {
        display: block;
    }

}